@model Course
@{
    ViewData["Title"] = "Details";
}

<section id="course-details pt-5 mt-5" class="course-details">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8">
                <img src="@Html.DisplayFor(m=>m.Image)" class="img-fluid" alt="">
                <h3>@Html.DisplayFor(m=>m.Topic)</h3>
                <p>
                    @if (Model.Description != null)
                    {
                        @Html.Raw(Model.Description)
                    }
                </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Trainer</h5>
                    <p><a href="#">@Html.DisplayFor(m=>m.TeacherName)</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Course Fee</h5>
                    <p>@Html.DisplayFor(m=>m.Price)</p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Available Seats</h5>
                    <p>30</p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Schedule</h5>
                    <p>5.00 pm - 7.00 pm</p>
                </div>

            </div>
        </div>

    </div>
</section>

